<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.charlesma.spellee"
        android:versionCode="1"
        android:versionName="1.0" >

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" android:maxSdkVersion="26" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher_family"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_family"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".splash.SplashActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/app_name"
                android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".login.ui.login.LoginActivity"
                android:label="@string/title_activity_login">
        </activity>
        <activity
                android:name=".MainActivity"
                android:screenOrientation="userPortrait"
                android:label="@string/app_name"></activity>
        <activity
                android:name=".score.ScoreActivity"
                android:label="@string/title_activity_score" />
        <activity
                android:name=".test.TestActivity"
                android:label="@string/title_activity_test" />
    </application>

</manifest>